[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

UserSettings/

# Rider / VS / VSCode
.vs/
.idea/
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Crashlytics
crashlytics-build.properties

# Unity auto generated
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
